.App {
  text-align: center;
}


body, html {
  height: 100%;
  background-color: white;
  margin:0;
  padding:0;
  font-family: 'Titillium Web', sans-serif;
}

.nav {
  border-width: medium;
  border-color: black;
  width: 100%;
  height: 80px;
  background-color: white;
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.logo {
  float: left;
  position: relative;
  margin: 15px 40px;
}

.ui.input input {
  width: 80px;
}

.container > div {
    display: inline-block;
    display: -moz-inline-box;
    *display: inline; /* For IE7 */
    zoom: 1; /* Trigger hasLayout */
    width: 20%;
}

.table-row:hover {
  background-color: #E0E0E0E0;
  cursor: pointer;
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  -ms-transition: all .6s ease;
  transition: all .6s ease;
  transition: all .6s ease ;
}
